<% content_for :title do %>About<% end %>
<h1>About the Warehouse</h1>
<p>The Warehouse provides Devpost administrators with important data and statistics for our flagship platfrom at <a href="http://devpost.com">devpost.com</a></p>
